* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans' sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.main {
    background-color: #abcce9;
    height: 100vh;
    width: 100vw;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    max-width: 1300px;
    padding: 0 5rem ;
}

.main-content {
    color: #fff;
    width: 100%;
}

.main-content h1 {
    font-size: 2.5rem;
    background-color: #9d14c7;
    background-image: linear-gradient(to top, #59076d 0%, #0e1df1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
}

.main-content h2 {
    font-size: 4.5rem;
    background: #a217dd;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1215ce, #4648be);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1215ce, #4648be); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
}

.main-content p {
    color: #09092e;
    margin-top: 1.5rem;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    
}

.main-btn {
    font-size: 2.2rem;
    background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4f1181, #4648be);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4f1181, #4648be); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 2rem 6rem;
    border: none;
    border-radius: 4px;
    margin-top: pointer;
    position: relative;
    outline: none;
    margin-top: 2rem;
}

.main-btn a {
    color: #fff;
    position: relative;
    z-index: 2;
    text-decoration: none;
}

.main-btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #871eff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main-btn:hover {
    color: #fff;
}

.main-btn:hover::after{
    width: 100%;
}

.main-img-container {
    text-align: center;
}

.main-img-card {
    margin: 1rem;
    height: 40rem;
    width: 40rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #00dbde 0%, #373ad1 100%);
}

.fa-smile-beam, .fa-user {
    font-size: 15rem;
}

#card-2 {
    background: #dd1919;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left #00eeff, #18285c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00eeff, #18285c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Mobile */

@media(max-width: 1100px) {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    .main-img-container {
        display: flex;
        justify-content: center;
    }

    .main-img-card {
        height: 425px;
        width: 425px;
    }

    .main-content {
        text-align: center;
        margin-bottom: 5rem;
    }

    .main-content h1 {
        font-size: 3rem;
        margin-top: 3rem;
    }
    .main-content h1 {
        font-size: 4rem;
    }
    .main-content p {
        margin-top: 2rem;
        font-size: 2.5rem;
    }
}

@media(max-width: 480px) {
    .main {
        height: 100%;
    }
    .main-img-card {
        width: 250px;
        height: 250px;
    }
    .fa-user, .fa-smile-beam {
        font-size: 5rem;
    }
    .main-content {
        font-size: 3rem;
        margin-top: 3rem;
    }
    .main-content p {
        margin-top: 3rem;
    }
    .main-btn {
        padding: 12px 36px;
        margin: 3.5rem 0;
    }
}