* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans' sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.home {
    background: #7a96be;
    background: linear-gradient(to right, #abafb1, #7a96be);
    height: 100vh;
    width: 100vw;
}
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 3rem;
}

.home-heading {
    font-size: 10rem;
    margin-bottom: 2.4rem;
    color: #fff;
    
}

.home-heading span {
    padding: 0 1rem 0 1rem ;
    background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #721548, #0c62db);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #721548, #0c62db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.home-description {
    font-size: 6rem;
    background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #430f86, #2e0aaf);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #430f86, #2e0aaf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.highlight {
    border-bottom: 0.4rem solid rgb(4, 0, 255);
}

@media(max-width: 768px) {
    .home-heading{
        font-size: 4.5rem;
    }
    .home-description {
        font-size: 4rem;
    }
}

